.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  margin: 20px;
  margin-right: 30px;
  max-width: 100%; /* Allow the card to expand fully */
  min-width: 300px; /* Set a minimum width */
}

.card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h5 {
  margin: 0;
  font-size: 1.4em;
  color: #333;
}

.card-content p {
  margin: 10px 0;
  font-size: 1em;
  color: #666;
}

.card-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #000000;
}

/* Responsive Design */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
    margin: 10px;
  }
}
