.mainDiv {
    background-image: url(https://media.rawg.io/media/screenshots/622/6220d4a748fd1abd23ece425111e8149.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height:100vh;
  }
  
