.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Increased padding to make the navbar taller */
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1.5; /* Increase line-height for more spacing */
}

.nav-button:hover {
  color: #f0a500;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-email {
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 25px 15px; /* Adjusted padding for small screens */
  }

  .nav-left, .nav-right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-button {
    margin: 10px 0;
    width: 100%;
    text-align: left;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .nav-button {
    font-size: 14px;
  }
}
