.signUpDiv {
    background-image: url(https://media.rawg.io/media/screenshots/117/1172e2174c19c8f6b2bd7f221a39a3d8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
  }
  